<div class="container">
    <div class="row">
        <div class="col-md-12" >               
            <h1>Discussions</h1>

                <div class="thumbnail" style="padding: 20px;">
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                        <h4>CNN</h4>
            
                        <p>(CNN) -- Russia plans to send long-range bombers to the Gulf of Mexico in what appears to be Moscow's latest provocative maneuver in its increasingly frosty relations with the West.
Defense Minister Sergey Shoigu said Wednesday that "we have to maintain (Russia's) military presence in the western Atlantic and eastern Pacific, as well as the Caribbean and the Gulf of Mexico" -- including sending bombers "as part of the drills."
It's an argument U.S. officials don't seem to be buying.
"We do not see the security environment as warranting such provocative and potentially destabilizing activity," a senior Obama administration official said Thursday.
U.S. State Department spokeswoman Jen Psaki offered a similar response.</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"></p>
                        <p>
                           CNN.com
                        </p>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>

        <div class="col-md-8" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>

        <div class="col-md-12" >  
            <div class="thumbnail">
                <div class="caption">
                    <h4>comment</h4>
                    <p>this is a comment body</p>
                    <!-- <img data-ng-src="{{disc.image_link}}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</div>